:root {
  --button: bold 14px/22px var(--fontBase);
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #4e5be9 0%, rgba(12, 109, 219, 0) 100%), linear-gradient(135deg, #16e5ec 0%, #4545cc 100%);
  --azul: #00a4e1;
  --fondo: #c7e0e7;
  --gris: #ced5ce;
  --white: rgb(255, 255, 255);
}
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/


  /*---------------------------------------
      HOME              
  -----------------------------------------*/
  .slider .container {
    margin: 0;
    width: 100%;

  }

  /* .slider .owl-dots {
      position: absolute;
      top: 250px;
      width: 100%;
      justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  } */

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height:600px;
  }

  .slider .item-first {
    background-image: url(../img/1633909507614.png);
  }

  .slider .item-second {
    background-image: url(../img/slider1.jpeg);
  }

  .slider .item-third {
    background-image: url(../img/1556261865284.jpg);
  }

  .slider .item-thir {
    background-image: url(../img/pexels-4349823.jpeg);
  }


  
.slider-text-banner-two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}


  .slider-temperature {
    color: var(--gris);
    font-weight: 200;
    font-size: 7em;
  }
  .slider-summary {  
    /* color: var(--white); */
    font-size: 3em;
    font-weight: 300;
    /* width: 500px; */
    margin-top: -16px;
    padding-bottom: 16px;
    margin-left: 8px;
  }

  .slider-summary p {
    color: var(--white);
  }
  
  .slider-summary-2 {      
    font-size: 3em;
    font-weight: 500;
    width: 800px;
    margin-top: -16px;
    padding-bottom: 16px;
    /* border: 2px solid red; */
    margin-left: 8px;
  }

  .slider-summary-2 #text-slider-right {
    font-size: 18px;
    padding-top: 16px;
  }
  .slider-summaryText {
    margin: 0;
    /* margin-left: 56px; */
  }

  
.precipitation-slider {
  width: 50%;
  color: white;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300; 
  margin-top: 16px;
  margin-left: 25px;
}

  
.precipitation-slider-2 {
  width: 50%;
  color: black;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300; 
  margin-top: 16px;
  margin-left: 25px;
}
